~*
*.~*
$*
*.zip
*.7z
*.rar
*.arj
*.ncb
*.dcu
*.rsm
*.ddp
*.dcp
*.identcache
*.bpl
*.drc
*.map
*.tmp
*.bak
*.tpu
*.tpp
*.opt
*.aps
*.plg
*.clw
*.pch
*.pdb
*.ilk
*.idb
*.tds
*.sbr
*.gid
*.pk
*.wbk
*.log
*.dsk
*.cfg
*.local
*.metadata
*.lst
__history
*.res
*.RES
*.exe
*.dll
*.com
thumbs.db
*.2007
