DUNIT_TESTMODULE_TEXT RCDATA TestModule.txt
DUNIT_TESTCLASSDECL_TEXT RCDATA TestClassDecl.txt
DUNIT_TESTMETHODDECL_TEXT RCDATA TestMethodDecl.txt
DUNIT_TESTSUITEREG_TEXT RCDATA TestSuiteReg.txt
DUNIT_USESTESTEDUNIT_TEXT RCDATA UsesTestedUnit.txt

